
<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط &copy; <a href="https://www.researchgate.net/profile/Alireza-Habibi-13?ev=hdr_xprf&_sg=iH5Cwagc8DkcCU5aMkKWd53f9Kvhw0yx8CTZaT75Q4OyHjWhwPtNN42_BlzEUhUBgXMToV_LlPSCneHjNKTIqV-a" target="_blank">
             علیرضا حبیبی
        </a>
    </small>
</footer>